<div class= "center jumbotron">
    <h1>Edit Store</h1>
    <%= form_with model: @route, local: true do |form| %>
        

        <div class="field">
            <%= form.label :distance %>
            <%= form.text_field :distance %>
        </div>

        <div>
            <%= form.submit %>
        </div>

    <% end %>
    
</div>    